<% if @customer.present? %>

  <%= form_with(url: invoice_path, method: :get) do |form| %>

    <div class="form-check">
      <%= check_box_tag "select_all", "1", false, id: "select-all-batches" %>
      <%= label_tag "select-all-batches", "Select All Items" %>
    </div>

    <% @customer.invoices.order(id: :desc).each do |invoice| %>
      <div class="row">
        <%= check_box_tag "item_ids[]", invoice.id, false,data: { checkbox_select_all_target: "checkbox", class: "item-checkbox" } %>
        <b><%= link_to "##{invoice.doc_number}", invoice_path(invoice), target: :_blank %></b> <%= invoice.txn_date %>
      </div>
    <% end %>

    <%= form.submit "Bulk PDF" %>
  <% end %>

<% else %>
  <p><%=t(:label_no_invoices)%>.</p>
<% end %>
