<p>
    <label for="issue_customer"><%= t(:customer) %></label>
    <%= search_customer %> 
    <%= customer_id %> 
    <%= link_to_function(t(:label_load_customer), "updateIssueFrom('/issues/#{context[:issue].id}/edit.js', this)") %>
</p> 

<p>
    <%= select_estimate %>
</p> 

<p>
    <%= vehicle %>
</p>