<p>
    <label for="issue_customer"><%= t(:customer) %></label>
    <%= search_customer %> 
    <%= customer_id %> 
    <%= link_to t(:label_load_customer), '#', onclick: "updateIssueFrom('/issues/#{context[:issue].id}/edit.js', this); return false;" %>
</p> 

<p>
    <%= select_estimate %>
</p> 

<p>
    <%= vehicle %>
</p>