<div class="splitcontent"> 
  <div class="splitcontentleft">
    <div class="customer_id attribute">
      <div class="label"><span><%=t(:field_customer)%></span>:</div>
      <div class="value"><%= customer %></div>
    </div>
  
    <div class="estimate_id attribute">
      <div class="label"><span><%=t(:field_estimate)%></span>:</div>
      <div class="value"><%= estimate_link %></div>
    </div>
         
    <div class="invoice_id attribute">
      <div class="label"><span><%=t(:field_invoice)%></span>:</div>
      <div class="value"><%= invoice_link %></div>
    </div>
   </div>
      
  <div class="splitcontentleft">
    <%# call_hook here %>
  </div>
</div>
