<div class="splitcontent"> 
  <div class="splitcontentleft">
    <div class="customer_id attribute">
      <div class="label"><span><%=t(:field_customer)%></span>:</div>
      <div class="value"><%= customer %></div>
    </div>
  
    <div class="estimate_id attribute">
      <div class="label"><span><%=t(:field_estimate)%></span>:</div>
      <div class="value"><%= estimate_link %></div>
    </div>
         
    <div class="invoice_id attribute">
      <div class="label"><span><%=t(:field_invoice)%></span>:</div>
      <div class="value"><%= invoice_link %></div>
    </div>
   </div>
      
  <div class="splitcontentleft">
    <div class="vehicle attribute">
      <div class="label"><span><%=t(:field_vehicle)%></span>:</div>
      <div class="value"><%= vehicle %></div>
    </div>
       
    <div class="vehicle_vin attribute">
      <div class="label"><span><%=t(:field_vin)%></span>:</div>
      <div class="value"><%=split_vin[0] if split_vin%><b><%=split_vin[1] if split_vin%></b></div>
    </div>
       
    <div class="vehicle_notes attribute">
      <div class="label"><span><%=t(:field_notes)%></span>:</div>
      <div class="value"><%=notes%></div>
    </div>
  </div>
</div>
