<table>
  <tbody>
    <tr>
      <th><%=t(:label_email)%></th>
      <td><%= customer.email %></td>
    </tr>
    
    <tr>
      <th><%=t(:label_primary_phone)%></th>
      <td><%= number_to_phone(customer.primary_phone.gsub(/[^\d]/, '').to_i, area_code: true) if customer.primary_phone %></td>
    </tr>
    
    <tr>
      <th><%=t(:label_mobile_phone)%></th>
      <td><%= number_to_phone(customer.mobile_phone.gsub(/[^\d]/, '').to_i, area_code: true) if customer.mobile_phone %></td>
    </tr>
    
     <tr>
        <th><%=t(:label_billing_address)%></th>
        <td><%= customer.billing_address %></td>
    </tr>
    
     <tr>
        <th><%=t(:label_shipping_address)%></th>
        <td><%= customer.shipping_address %></td>
    </tr>
    
    <tr>
        <th><%=t(:issues)%></th>
        <td><%= customer.issues.count %></td>
    </tr>
    
    <tr>
        <th><%=t(:label_account_balance)%></th>
        <td>$<%= customer.balance %></td>
    </tr>
    
    <tr>
        <th><%=t(:label_balance_with_jobs)%></th>
        <td>$<%= customer.balance_with_jobs %></td>
    </tr>
    
    <tr>
      <th><%=t(:field_notes)%></th>
      <td><%= customer.notes %></td>
    </tr>
    
    <tr>
      <td>
        <%= button_to t(:label_edit_customer), edit_customer_path(customer), method: :get%> 
      </td>
    </tr>
  </tbody>
</table>
