<table>
  <tbody>
    <tr>
      <th>Email</th>
      <td><%= customer.email %></td>
    </tr>
    
    <tr>
      <th>Primary Phone</th>
      <td><%= number_to_phone(customer.primary_phone.gsub(/[^\d]/, '').to_i, area_code: true) if customer.primary_phone %></td>
    </tr>
    
    <tr>
      <th>Mobile Phone</th>
      <td><%= number_to_phone(customer.mobile_phone.gsub(/[^\d]/, '').to_i, area_code: true) if customer.mobile_phone %></td>
    </tr>
    
     <tr>
        <th>Bill Address</th>
        <td><%= customer.billing_address %></td>
    </tr>
    
     <tr>
        <th>Shipping Address</th>
        <td><%= customer.shipping_address %></td>
    </tr>
    
    <tr>
        <th>Issues</th>
        <td><%= customer.issues.count %></td>
    </tr>
    
    <tr>
        <th>Account Balance</th>
        <td>$<%= customer.balance %></td>
    </tr>
    
    <tr>
        <th>Balance With Jobs</th>
        <td>$<%= customer.balance_with_jobs %></td>
    </tr>
    
    <tr>
      <th>Notes</th>
      <td><%= customer.notes %></td>
    </tr>
    
    <tr>
      <td>
        <%= button_to "Edit Customer", edit_customer_path(customer), method: :get%> 
      </td>
    </tr>
  </tbody>
</table>
