<div class="row">
  <div class="span6 columns">
    <fieldset>

      <%= form_for @customer do |f| %> 
       
        <div class="clearfix">
          <%=t(:label_display_name)%> 
          <div class="input">
            <%= f.text_field :name, :required => true, :autocomplete => "off" %>
          </div>
        </div>
        
        <div class="clearfix">
          <%=t(:label_primary_phone)%>
          <div class="input">
            <%= f.telephone_field :primary_phone, :autocomplete => "off" %>
          </div>
        </div>
        
       <div class="clearfix">
          <%=t(:label_mobile_phone)%>:
          <div class="input">
            <%= f.telephone_field :mobile_phone, :autocomplete => "off" %>
          </div>
        </div>
        
        <div class="clearfix">
          <%=t(:label_email)%>:
          <div class="input">
            <%= f.email_field :email, :autocomplete => "off" %>
          </div>
        </div>
        
        <div class="clearfix">
          <%=t(:field_notes)%>: 
          <div class="input">
            <p>  
              <%= link_to_function content_tag(:span, l(:button_edit), :class => 'icon icon-edit'), '$(this).hide(); $("#issue_description_and_toolbar").show()' unless @customer.new_record? %>
              <%= content_tag 'span', :id => "issue_description_and_toolbar", :style => (@customer.new_record? ? nil : 'display:none') do %>
              <%= f.text_area :notes,
                    :cols => 60,
                    :rows => 10,
                    :accesskey => accesskey(:edit),
                    :class => 'wiki-edit',
                    :no_label => true %>
              <% end %>
            </p>
            <%= wikitoolbar_for 'issue_description' %>
          </div>
        </div>
        
       <div class="actions">
        <%= f.submit %>
       </div>
      <% end %>

    </fieldset>
  </div>
</div>
