<h1>Customers</h1> 
<br/> 
<%= form_tag(customers_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Customers" %>
<%= submit_tag "Search" %>
<%= button_to "New Customer", new_customer_path, method: :get %>       
<% end %>
<br/>
<% if @customers.present? %>
  
<br/>
<% @customers.each do |c| %>
  <div class="row">
    <div class="span6 columns">
      <%= link_to c, customer_path(c.id) %>
    </div>
  </div>
<% end %>

<div class="actions">
  <%= will_paginate @customers %>
</div>

<% else %>
  <p>There are no customers containing the term(s) <%= params[:search] %>.</p>
<% end %>

<div>
  <b>Last Sync: </b> <%= Qbo.last_sync %>
</div>
