<h2><%=t(:field_customers)%> <span style="float:right"> <%= render :partial => 'customers/search' %> </span> </h2>
<% if @customers.present? %>
  <br/>
  <% @customers.each do |c| %>
    <div class="row">
      <div class="span6 columns">
        <%= link_to c, customer_path(c.id) %>
      </div>
    </div>
  <% end %>

<p><%=t(:label_matching)%> <%= @customers.count %> <%=t(:field_customers)%> </p>

<div class="actions">
  <%= will_paginate @customers %>
</div>

<% else %>
  <p><%=t(:label_no_customers)%> <%= params[:search] %>.</p>
<% end %>

<div>
  <%= render :partial => 'qbo/stats' %>
</div>
