<h1>Customer #<%= @customer.id %></h1> 
<br/> 
<%= render :partial => 'customers/details', locals: {customer: @customer} %>
<br/>
<%= render :partial => 'vehicles/list' %>
<br/>
<%= button_to "New Customer", [:new, @cutomer, Vehicle.new], method: :get %>
<br/>
<br/>
<%= render :partial => 'issues/list_simple', locals: {issues: @issues} %>
