<h2><%=t(:field_customer)%> #<%= @customer.id %> - <%= link_to @customer.to_s, "https://app.qbo.intuit.com/app/customerdetail?nameId=#{@customer.id}", target: :_blank %> </h2>
  <div class="issue">

    <div class="splitcontent">

      <div class="splitcontentleft">

        <h4><%=t(:label_details)%>:</h4>

        <!-- Customer Info -->

        <div class="splitcontent">
          <div class="splitcontentleft">
            <h4><%=t(:field_customer)%>:</h4>
            <%= render :partial => 'customers/details', locals: {customer: @customer} %>
          </div>

          <div class="splitcontentleft">
            <h4><%=t(:label_actions)%>:</h4>
            <%= render :partial => 'customers/actions', locals: {customer: @customer} %>
          </div>
        </div>


        <!-- QBO Info -->

        <div class="splitcontent">
          <div class="splitcontentleft">
            <h4><%=t(:estimates)%>:</h4>
            <%= render :partial => 'estimates/list', locals: {customer: @customer} %>
          </div>

          <div class="splitcontentleft">
            <h4><%=t(:label_invoices)%>:</h4>
            <%= render :partial => 'invoices/list', locals: {customer: @customer} %>
          </div>
        </div>

      </div>
        
      <div class="splitcontentleft">
        <%= call_hook :show_customer_view_right, {customer: @customer} %>
      </div>
    </div>

  </div>

<br/>
<h3><%=@issues.open.count%> <%=t(:label_open_issues)%> - <%=@hours.round(1)%> <%=t(:label_hours)%></h3>
<%= render :partial => 'issues/list_simple', locals: {issues: @issues.open} %>

<h3><%=@closed_issues.count%> <%=t(:label_closed_issues)%> - <%= @closed_hours.round(1)%> <%=t(:label_hours)%></h3>
<%= render :partial => 'issues/list_simple', locals: {issues: @closed_issues} %>
