<div id="content">
  <h2>Customer #<%= @customer.id %></h2> 
  <br/> 
  
  <div class="subject">
    <div><h3><%= @customer.name %></h3></div>
  </div>
  
  <div class="attributes">
  
    <div class="splitcontent">
      <div class="splitcontentleft">
        <h4>Details:</h4>
        <%= render :partial => 'customers/details', locals: {customer: @customer} %>
      </div>
      <div class="splitcontentleft">
        <h4>Vehicles:</h4>
        <%= render :partial => 'vehicles/list' %>
        <%= button_to "New Vehicle", new_customer_vehicle_path(@customer), method: :get %>
      </div>
    </div>
    
    <br/>
    <h2>Issues:</h2>
    <%= render :partial => 'issues/list_simple', locals: {issues: @issues} %>
  </div>
</div>
