<table>
  <tbody>
  
    <tr>
      <th>Customer</th>
      <td><%= link_to vehicle.customer.name, customer_path(vehicle.customer) %></td>
    </tr>
  
    <tr>
      <th>Vehicle</th>
      <td><%= vehicle.to_s %></td>
    </tr>
    
    <tr>
      <th>VIN</th>
      <td><%= @vin[0] if split_vin %><b><%=@vin[1] if @vin%></b></td>
    </tr>
    
    <tr>
      <th>Style</th>
      <td><%= vehicle.style %></td>
    </tr>
    
    <tr>
      <th>Drive</th>
      <td><%= vehicle.drive %></td>
    </tr>
    
    <tr>
      <th>Doors</th>
      <td><%= vehicle.doors %></td>
    </tr>
  
    <tr>
      <th>Notes</th>
      <td><%= vehicle.notes %></td>
    </tr>
    
    <tr>
        <th>Issues</th>
        <td><%= vehicle.issues.count %></td>
    </tr>
    
    <tr>
      <td/>
      <td>
      
        <%= button_to "New Issue", new_issue_path(:vehicle_id => vehicle.id, :customer_id => vehicle.customer.id), method: :get%> 
        <%= button_to "Edit", edit_vehicle_path(vehicle), method: :get%> 
        <%= button_to "Delete", vehicle, method: :delete, data: {confirm: "You sure?"} %> 
      </td>
    </tr>
  </tbody>
</table>
