<table>
  <tbody>
    <tr>
      <th>Customer</th>
      <td><%= @customer %></td>
    </tr>
    
    <tr>
      <th>Vehicle</th>
      <td><%= @vehicle.to_s %></td>
    </tr>
    
    <tr>
      <th>VIN</th>
      <td><%= @vehicle.vin %></td>
    </tr>
    
    <tr>
      <th>Style</th>
      <td><%= @style %></td>
    </tr>
    
    <tr>
      <th>Drive</th>
      <td><%= @drive %></td>
    </tr>
    
    <tr>
      <th>Doors</th>
      <td><%= @doors %></td>
    </tr>
  
    <tr>
      <th>Notes</th>
      <td><%= @vehicle.notes %></td>
    </tr>
    
    <tr>
      <%= button_to "Edit", edit_vehicle_path(@vehicle), method: :get%> 
      <%= button_to "Delete", @vehicle, method: :delete, data: {confirm: "You sure?"} %> 
    </tr>
  </tbody>
</table>
