<div class="attributes">
  <div class="customer attribute">
    <div class="label"><span>Customer</span>:</div>
    <div class="value"><%= @customer %></div>
  </div>
  
  <div class="vehicle attribute">
      <div class="label"><span>Vehicle</span>:</div>
      <div class="value"><%= @vehicle.to_s %></div>
  </div>
  
  <div class="vin attribute">
    <div class="label"><span>VIN</span>:</div>
    <div class="value"><%= @vehicle.vin %></div>
  </div>

  <div class="style attribute">
    <div class="label"><span>Style</span>:</div>
    <div class="value"><%= @style %></div>
  </div>
  
  <div class="drive attribute">
      <div class="label"><span>Drive</span>:</div>
      <div class="value"><%= @drive %></div>
  </div>
  
  <div class="doors attribute">
      <div class="label"><span>Doors</span>:</div>
      <div class="value"><%= @doors %></div>
  </div>
  
  <div class="notes">
    <div class="label"><span>Notes:</span></div>
    <div class="value"><%= @vehicle.notes %></div>
  </div>
</div>
