<table>
  <tbody>
  
    <tr>
      <th><%= t(:field_customer)%></th>
      <td><%= link_to vehicle.customer.name, customer_path(vehicle.customer) %></td>
    </tr>
  
    <tr>
      <th><%= t(:field_vehicle) %></th>
      <td><%= vehicle.to_s %></td>
    </tr>
    
    <tr>
      <th><%= t(:field_vin) %></th>
      <td><%= @vin[0] if @vin %><b><%=@vin[1] if @vin%></b></td>
    </tr>
    
    <th><%= t(:label_trim) %></th>
      <td><%= vehicle.doors %> <%=t(:label_door)%> <%= vehicle.trim %></td>
    </tr>

    <tr>
      <th><%= t(:field_notes) %></th>
      <td><%= vehicle.notes %></td>
    </tr>
    
    <tr>
      <td>
        <%= button_to t(:label_edit), edit_vehicle_path(vehicle), method: :get%> 
        <%= button_to t(:label_delete), vehicle, method: :delete, data: {confirm: t(:warn_ru_sure)} %> 
      </td>
    </tr>
  </tbody>
</table>
