<div class="row">
  <div class="span6 columns">
    <fieldset>

      <%= form_for @vehicle do |f| %> 
        <div class="clearfix">
		      <%=t(:field_customer)%>:
	        <div class="input">
            <%= f.autocomplete_field :customer, autocomplete_customer_name_customers_path, :value => @customer.name, :update_elements => {:id => '#customer_id', :value => '#issue_customer'}, :required => true %>
            <%= f.hidden_field :customer_id, :id => "customer_id", :value => @customer.id %>
          </div>
        </div>
        
        <div class="clearfix">
          <%=t(:label_year)%>: 
          <div class="input">
            <%= f.number_field :year, :autocomplete => "off"  %>
          </div>
        </div>
        
        <div class="clearfix">
          <%=t(:label_make)%>:
          <div class="input">
            <%= f.text_field :make, :autocomplete => "off"  %>
          </div>
        </div>
        
        <div class="clearfix">
          <%=t(:label_model)%>:
          <div class="input">
            <%= f.text_field :model, :autocomplete => "off"  %>
          </div>
        </div>
        
        <div class="clearfix">
          <%=t(:field_vin)%>:
          <div class="input">
            <%= f.text_field :vin , :autofocus => true %>
          </div>
        </div>
        
        <div class="clearfix">
          <%=t(:field_notes)%>: 
          <div class="input">
            <%= f.text_area :notes, :cols => 60, :rows => 10, :no_label => true %>
          </div>
        </div>
        
       <div class="actions">
        <%= f.submit %>
       </div>
      <% end %>

    </fieldset>
  </div>
</div>
