<div class="row">
  <div class="span6 columns">
    <fieldset>

      <%= form_for @vehicle do |f| %> 
        <div class="clearfix">
          Customer: 
          <div class="input">
            <%= f.collection_select :customer_id, @customers, :id, :name, include_blank: true, :selected => @customer, :required => true%>
            </div>
        </div>
        
        <div class="clearfix">
          Year: 
          <div class="input">
            <%= f.number_field :year %>
          </div>
        </div>
        
        <div class="clearfix">
          Make:
          <div class="input">
            <%= f.text_field :make %>
          </div>
        </div>
        
        <div class="clearfix">
          Model:
          <div class="input">
            <%= f.text_field :model %>
          </div>
        </div>
        
        <div class="clearfix">
          VIN:
          <div class="input">
            <%= f.text_field :vin %>
          </div>
        </div>
        
        <div class="clearfix">
          Notes: 
          <div class="input">
            
            <p>  
              <%= link_to_function content_tag(:span, l(:button_edit), :class => 'icon icon-edit'), '$(this).hide(); $("#issue_description_and_toolbar").show()' unless @vehicle.new_record? %>
              <%= content_tag 'span', :id => "issue_description_and_toolbar", :style => (@vehicle.new_record? ? nil : 'display:none') do %>
              <%= f.text_area :notes,
                    :cols => 60,
                    :rows => 10,
                    :accesskey => accesskey(:edit),
                    :class => 'wiki-edit',
                    :no_label => true %>
              <% end %>
            </p>
            <%= wikitoolbar_for 'issue_description' %>
          </div>
        </div>
        
       <div class="actions">
        <%= f.submit %>
       </div>
      <% end %>

    </fieldset>
  </div>
</div>
