<div class="row">
  <div class="span6 columns">
    <fieldset>

      <%= form_for @vehicle do |f| %> 
        <div class="clearfix">
          Customer: 
          <div class="input">
            <%= f.collection_select :customer_id, @customers, :id, :name, include_blank: true, :selected => @customer, :required => true%>
            </div>
        </div>
        
        <div class="clearfix">
          Year: 
          <div class="input">
            <%= f.number_field :year %>
          </div>
        </div>
        
        <div class="clearfix">
          Make:
          <div class="input">
            <%= f.text_field :make %>
          </div>
        </div>
        
        <div class="clearfix">
          Model:
          <div class="input">
            <%= f.text_field :model %>
          </div>
        </div>
        
        <div class="clearfix">
          VIN:
          <div class="input">
            <%= f.text_field :vin , :autofocus => true %>
          </div>
        </div>
        
        <div class="clearfix">
          Notes: 
          <div class="input">
            <%= f.text_area :notes, :cols => 60, :rows => 10, :no_label => true %>
          </div>
        </div>
        
       <div class="actions">
        <%= f.submit %>
       </div>
      <% end %>

    </fieldset>
  </div>
</div>
