<% if @vehicles.present? %>

  <% @vehicles.each do |vehicle| %>
    <div class="row">
      <div>
        <b><%= link_to "##{vehicle.id}", vehicle_path(vehicle) %> </b>
      </div>
      
      <div>
        <%= vehicle.to_s %>
        <br/>
        <%= vehicle.customer %>
        <br/>
        <%= vehicle.vin %>
      </div>
    </div>
    <br/>
  <% end %>

  <div class="actions">
    <%= will_paginate @vehicles %>
  </div>

<p>Matching <%= @vehicles.count %> Vehicles </p>

<% else %>
  <p>There are no vehicles containing the term(s) <%= params[:search] %>.</p>
<% end %>
