<h1>Customer Vehicles</h1> 
<br/> 
<br/> 
<% Vehicle.all.each do |vehicle| %>
  <div class="row">
    <div class="span6 columns">
      <fieldset>
        <div class="clearfix">
          <strong>
            <%= vehicle.qbo_customer.name if vehicle.qbo_customer %>
          </strong>
          <%= vehicle.to_s %> 
        <div class="actions">
          <%= button_to "Edit", edit_vehicle_path(vehicle), method: :get%> 
          <%= button_to "Delete", vehicle, method: :delete, data: {confirm: "You sure?"} %> 
        </div>
      </fieldset>
    </div>
  </div>
<% end %>

<div class="actions">
  <%= button_to "New", new_vehicle_path, method: :get %>       
</div>
