<h2><%=t(:field_vehicle)%> #<%=@vehicle.id%> <span style="float:right"> <%= render :partial => 'customers/search' %> </span> </h2>
<br/>

<div style="text-align: left; width:90%;">
  <%= render :partial => 'vehicles/details', locals: {vehicle: @vehicle} %>

  <p><b><%=@issues.open.count%> <%=t(:label_open_issues)%> </b>  </p>

  <%= render :partial => 'issues/list_simple', locals: {issues: @issues.open} %>

  <p><b><%=@closed_issues.count%> <%=t(:label_closed_issues)%> </b> </p>

  <%= render :partial => 'issues/list_simple', locals: {issues: (@closed_issues)} %>
</div>
